
.pictures{
    background-color: #fffaf7;
    padding: 30px;
    border-radius: 30px;
}

.pictures-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.picture-card{
    background-color: bisque;
    padding: 25px;
    transition: transform 0.3 ease, box-shadow 0.3ease;
}

.picture-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 20px 30px rgba(0,0,0,0.15);
}

.picture-card img{
    width: 250px;
    height: 250px;
    border-radius: 20px
    
}