.header{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px
}

.header img{
    position: absolute;
    left: 30px;
    width: 100px;
    height: 110px;
    object-fit: contain;
    border-radius: 40px;
    text-align: left;
}

.heading-box{
    background-color: rgb(50, 223, 107);
    margin: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}