.header{
    height: 220px;
    background-image: url("../../assets/Untitled design (7).png");
    background-position: contain;
    background-size: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header img{
    position: absolute;
    left: 30px;
    width: 100px;
    height: 110px;
    object-fit: contain;
    border-radius: 40px;
    text-align: left;
}

.heading-box{
    margin: 10px;
    padding: 5px 50px;
    border-radius: 10px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.heading-box h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(15, 2, 88);
    font-size: 60px;
}