.footer-box{
    text-align: center;
    background-image: url("../../assets/Untitled design (7).png");
    background-position: center;
    background-position: contain;
    background-size: 700px;
    color: rgb(15, 2, 88);
    font-size: 20px;
}