.about-us-main{
    background-color: bisque;
    border-radius: 20px;
    box-shadow: 10%;
}

.about-us-box{
    background-color: azure;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

h2, h3, p{
    font-family:Georgia, 'Times New Roman', Times, serif
}