.homepage{
    background-color: beige;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.main-layout{
    display:flex
}

.navigation-box{
    background-color: rgb(250, 205, 138);
    border: 1px;
    border-radius: 10px;
    padding: 20px
}

.dashboard-box{
    flex: 1;
    padding: 5px
}

.header-box{
    border-radius: 20px;
    padding: 5px
}
.footer-box{
    text-align: center;
    border: 1px;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

/* Mobile*/

@media(max-width: 600px){
    .homepage{
        padding: 8px;
    }
    .main-layout{
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .navigation-box{
        width:100%
    }
    .dashboard-box{
        width:100%
    }
    .footer-box{
        margin-top: 10px;
    }
    /*tablet*/
    @media (max-width:900px){
        .homepage{
            padding: 12px;
        }
        .main-layout{
            display: grid;
            grid-template-columns: 160px 1fr;
            gap:15px
        }
        .navigation-box{
            width: 100%;
        }
        .dashboard-box{
            width: 100%;
            min-width: none;
        }
        .header-box{
            margin-top: 12px;
        }
        .footer-box{
            margin-bottom: 12px;
        }
    }
}